datasets/**
datasets/**/**
datasets/**/**/**
experiments/**
logs/**
saved_models/**
saved_good_models/**
__pycache__
utils/__pycache__
hnet_parts/__pycache__
punet_parts/__pycache__
reports/**
outs/**
.idea